---
---
<header class="site-header">
    <div class="container">
      <nav class="main-nav">
        <a href="/" class="nav-link">Home</a>
        <a href="/blog" class="nav-link">Blog</a>
        <a href="#mentions" class="nav-link">Mentions</a>
        <a href="/Resume/Resume.pdf" target="_blank" rel="noopener noreferrer" class="nav-link">CV</a>
        <a href="#settings" id="settings-button" class="nav-link settings-button" style="padding: 12px 16px;">
            <div id="settings-nav-icon" style="width: 24px; height: 24px; display: flex; align-items: center; justify-content: center;"></div>
        </a>
      </nav>
    </div>
  </header>